-- Add unique constraint to roles table for ON CONFLICT to work
ALTER TABLE roles ADD CONSTRAINT unique_role_name UNIQUE (name);

-- Add unique constraint to businesses table (if needed)
-- ALTER TABLE businesses ADD CONSTRAINT unique_business_name UNIQUE (name);
